.button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  text-decoration: underline;
  color: #1db954;
}

.button--back {
  margin-top: 10px;
}

.search {
  border-radius: 3px;
  border: 1px solid #333;
  color: #1db954;
}
