.playlist {
  padding-top: 15px;
}

.playlist_title {
  display: none;
}

@media only screen and (min-width: 860px) {
  .playlist_title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
  }
}
